<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Security.DataAccess.Properties.Settings.AVS_SECURITYConnectionString1"
      connectionString="Data Source=45.56.165.226,8010;Initial Catalog=AVS_SECURITY;User ID=sa;Password=Aoc2016**"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>