<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <connectionStrings>
    <add name="UltraERP.BusinessDataAccess.Properties.Settings.MasterDB"
      connectionString="Data Source=192.168.137.216,9010;Initial Catalog=BM_POS_CEDI;Persist Security Info=True;User ID=us_rmhc_grupobm;Password=qEMawKZr*5SVg7QeRt;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>