<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <connectionStrings>
    <add name="UltraERP.BusinessDataAccess.Properties.Settings.MasterDB"
      connectionString="Data Source=192.168.137.216,9090;Initial Catalog=DB_9E3FAF_CIFASA;Persist Security Info=True;User ID=developerUNA;Password=space-dev2026;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>
