

<section class="content">
    <div class="error-page px-3">
        <h2 class="headline text-danger"><i class="fas fa-exclamation-triangle text-yellow"></i></h2>

        <div class="error-content">
            <h3>Acceso Denegado</h3>

            <p>
                Lo lamentamos, pero no cuenta con los permisos
                requeridos para acceder al sistema.
                Comuníquese con el administrador para que le habilite el acceso.
                <a href="" >Refrescar</a>.
            </p>

            <a href="@Url.Action("Logout", "Inicio")">Cerrar Sesión</a>
        </div>
    </div>

</section>